@model FastFoodResturentWebApp.Models.UserInput

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>UserInput</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.CalculateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CalculateTime)
                @Html.ValidationMessageFor(model => model.CalculateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InterArrivalTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InterArrivalTime)
                @Html.ValidationMessageFor(model => model.InterArrivalTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceTime)
                @Html.ValidationMessageFor(model => model.ServiceTime)
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
            <h3>@ViewBag.message</h3>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
